<application xmlns="http://ns.adobe.com/air/application/2.7"> 
    <id>catchat</id> 
    <name>Cat Chat</name>
    <versionNumber>0.3.0</versionNumber> 
    <filename>catchat</filename> 
    <initialWindow> 
        <content>index.html</content> 
        <visible>true</visible> 
        <width>400</width> 
        <height>600</height> 
    </initialWindow> 
</application>