<application xmlns="http://ns.adobe.com/air/application/2.7" minimumPatchLevel="0">
    <id>catchat-0-4-1</id> 
    <name>CatChat 0-4-1</name>
    <versionNumber>0.4.2</versionNumber> 
    <filename>catchat-0-4-1</filename> 
    <supportedProfiles>desktop mobileDevice</supportedProfiles>
    <initialWindow> 
        <content>index.html</content> 
        <visible>true</visible> 
        <width>400</width> 
        <height>600</height> 
    </initialWindow>
    <icon>
      <image16x16>icons/jackhq-16.png</image16x16>
      <image32x32>icons/jackhq-32.png</image32x32>
      <image48x48>icons/jackhq-48.png</image48x48>
      <image128x128>icons/jackhq-128.png</image128x128>
    </icon> 
</application>